<!DOCTYPE html>
<html>
<% include ../partials/header %>
<body>

<% include ../partials/navbar %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar collapse" id="sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item active"><span class="fa fa-fw fa-dashboard"></span> Dashboard</a>
        <a href="#" class="list-group-item"><span class="fa fa-fw fa-dashboard"></span> Products <span class="badge badge-dark badge-pill pull-right">14</span></a>
        <a href="#" class="list-group-item"><span class="fa fa-fw fa-dashboard"></span> Categories <span class="badge badge-dark badge-pill pull-right">14</span></a>
      </div>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard Global</h1>

      <section class="row text-center placeholders">
        <div class="col-6 col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Total cases</div>
            <div class="panel-body">
              <h4 class="format_number count"><%=  data.cases %></h4>
              <p>Total Cases</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4">
          <div class="panel panel-danger">
            <div class="panel-heading">Total deaths</div>
            <div class="panel-body">
              <h4 class="format_number count"><%= data.deaths %></h4>
              <p>Total Deaths</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading">Total recovered</div>
            <div class="panel-body">
              <h4 class="format_number count"><%= data.recovered %></h4>
              <p>Total Recoveries</p>
            </div>
          </div>
        </div>
      </section>

      <h1 class="sub-header">
        Table
      </h1>
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor</td>
              <td style="width: 100px">
                <a href="#" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                  <span class="fa fa-pencil"></span>
                </a>
                <a href="#" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Tooltip on top" onclick="return confirm('Are you sure?')">
                  <span class="fa fa-trash"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<% include ../partials/footer %>

</body>
</html>
